/* Image */
.artImg{float:right;text-align:center}
.ImgBorder{padding:1px;margin:2px 2px 0 2px;border:1px #999 solid}
.grayl{font:10px Arial,Verdana;text-decoration:none}
.grayl:link, .grayl:visited{color:#999}
.grayl:hover, .grayl:active{color:#03c}

/* Author */
#author{padding:3px 0 5px 7px}

#askq{margin:5px 0 7px 0;padding:0 0 0 7px;background:#fff}

/* Tabs */
.rght{float:right;margin:4px 10px 0 0;padding:0px}
#tabArea{background:#f4f4f4;padding:3px 3px 3px 7px;margin-top:1px;
	border-top:solid 1px #f4f4f4;border-bottom:solid 1px #999}
.tab{color:#038;padding:3px 10px;font:bold 12px Arial;
	border:solid 1px #ccc;border-bottom-color:#999;text-decoration:none}
.tab:visited{color:#038}
.tab:hover{color:#03c;text-decoration:underline}
.activeTab{font:bold 12px Arial;background:#fff;color:#000;padding:3px 10px 4px 10px;
	border-left:solid 1px #999;border-right:solid 1px #999;border-top:solid 1px #999;
	border-bottom:solid 0px #f00;cursor:default;text-decoration:none}
.activeTab:link,.activeTab:visited,.activeTab:hover,.activeTab:active{color:#000}
.noDisp{display:none}

.Gfloat {padding:1px;border:solid 1px #ccc}

.article a{text-decoration:none}
.article a:hover,.article a:active{text-decoration:underline}

.ulist {padding:2px 0 3px 0;margin:0 2px 0 5px;font:13px Arial}
.ulist ul{margin:0;padding:0;list-style-type:none;}
.ulist ul li{background:url(../images/LiBull.gif) left .5em no-repeat;margin: 0.2em 0 0 0.2em;padding:0 0 0.5em 0.7em;}